{% extends "layout.html" %} {% block content %}
<form method="post" action="/add">
  <div class="form-group">
    <label for="Rank">Rank</label>
    <input type="text" class="form-control" placeholder="Enter hs code" name="Rank" />
  </div>
  <div class="form-group">
    <label for="Name">Name:</label>
    <input type="text" class="form-control" placeholder="Enter Name" name="Name" />
  </div>
  <div class="form-group">
    <label for="Genre">Genre:</label>
    <input type="text" class="form-control" placeholder="Enter Genre" name="Genre" />
  </div>
  <div class="form-group">
    <label for="Global_Sales">Global Sales:</label>
    <input type="text" class="form-control" placeholder="Enter Global Sales" name="Global_Sales" />
  </div>
  <div class="form-group">
    <label for="Year">Year:</label>
    <input type="text" class="form-control" placeholder="Enter year" name="Year" />
  </div>
  <button type="submit" class="btn btn-warning">Submit</button>
</form>
{% endblock %}
